{
  "extends": "vtex",
  "root": true,
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
